.ep {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
        padding: 10px;
    }

    .grid-item {
        background-color: #eee;
        border: 1px solid #444;
        padding: 5px;
        font-size: 13px;

        .body-title {
            text-align: center;
        }
    }
}
