.view-file {
    .page-body {
        .card-body {
            .header-title {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: -10px;
            }
            .header-subtitle {
                font-size: 9px;
                font-weight: bold;
            }
            .header-address {
                font-weight: 600;
                font-size: 10px;

                .email-link {
                    color: #002060;
                    font-weight: normal;
                }
            }

            .header-main {
                color: #002060;
                h1 {
                    font-size: 20px;
                    font-weight: 700;
                    margin-bottom: -2px;
                }

                .header-line:nth-of-type(1) {
                    border-bottom: 5px solid #000;
                }
                .header-line:nth-of-type(2) {
                    margin-top: 2px;
                    border-bottom: 2px solid #000;
                }
            }

            .datenow {
                font-size: 12px;
            }

            .body-title {
                font-size: 36px;
                font-family: "Arial Nova Cond Light", sans-serif;
                text-align: center;
            }

            .body-semititle {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }

            // .body-text-intro {
            //     make text-
            // }
            .grades {
                .table:nth-of-type(1) {
                    thead {
                        tr {
                            th {
                                font-size: 12px;
                            }
                        }
                    }
                }
                i:nth-of-type(1) {
                    text-decoration: underline;
                    font-weight: 600;
                }

                .total {
                    display: flex;
                    justify-content: space-between;
                    padding-inline: 45px;
                }
            }

            .text-bottom {
                font-size: 14px;
                text-indent: 6rem;
                letter-spacing: 0.06em;
            }

            .signature {
                display: flex;
                flex-direction: column;

                div {
                    align-self: flex-end;
                }

                div:nth-of-type(1) {
                    margin-right: 2.8rem;
                }
                div:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    p {
                        margin: 0;
                        text-align: center;
                    }
                }
            }

            .docu-validation {
                p:nth-of-type(1) {
                    margin: 0;
                }
            }
        }
    }
}
