.view-file-cert-of-enrollment {
    .page-body {
        .card-body {
            .header-title {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: -10px;
            }
            .header-subtitle {
                font-size: 9px;
                font-weight: bold;
            }
            .header-address {
                font-weight: 600;
                font-size: 10px;

                .email-link {
                    color: #002060;
                    font-weight: normal;
                }
            }

            .header-main {
                color: #000000;
                h1 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: -2px;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 350px;
                background-color: #fff;
                padding: 20px;
                border-radius: 20px;
                position: relative;
            }
            .flex {
                display: flex;
                width: 100%;
                gap: 6px;
            }

            .name {
                font-size: 36px;
                font-weight: bold;
                margin-right: 20px;
            }

            .underline-text {
                font-size: 24px;
                text-decoration: underline;
            }
        }
    }
}
